@model IEnumerable<Geres4U.Models.PointOfInterest>

@{
    ViewData["Title"] = "GetPointsOfInterest";
    Layout = "_LayoutAdmin";
}

@if (ViewBag.result != null)
{
    <p>@ViewBag.result</p>
}

<h1>Locais a visitar</h1>

@if (Model != null && Model.Count() != 0)
{

    <button class="btn">Filtrar por</button>
    <div class="dropdown">
        <button class="btn" style="border-left:1px solid navy">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Monumentos"})">Monumentos</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "EdificioReligioso"})">Edifício Religioso</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Cascata"})">Cascata</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Lagoa"})">Lagoa</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "PraiaFluvial"})">Praia Fluvial</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Miradouro"})">Miradouro</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "ParqueLazer"})">Parque de Lazer</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "ParqueNatural"})">Parque Natural</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Passadicos"})">Passadiços</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Grutas"})">Grutas</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Ponte"})">Ponte</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "ArteRupestre"})">Arte Rupestre</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Espigueiros"})">Espigueiros</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Trilhos"})">Trilhos</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Ecovia"})">Ecovia</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "EdificioRestauracao"})">Edificio de Restauração</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Termas"})">Termas</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Revisor", new {category = "Aldeias"})">Aldeias</a>
        </div>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Long)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Long)
                    </td>
                    <td>
                        @Html.ActionLink("Ler mais", "GetSpecificPointOfInterest", "Reviser", new { id = item.Id, ret = "GetPointsOfInterest" }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h3>Sem pontos disponíveis</h3>
}