@model IEnumerable<Geres4U.Models.PointOfInterest>

@{
    ViewData["Title"] = "GetPointsOfInterest";
    Layout = "_LayoutAdmin";
}

@if (ViewBag.result != null)
{
    <p>@ViewBag.result</p>
}

<h1 style="position: absolute; left: 600px; top: 100px; font-weight: bold;font-size:25px">Locais a visitar</h1>


    <div class="dropdown" style="position: absolute; background: black; left: 1300px; top: 100px; border-radius: 17.5px">
        <button class="btn" style="color: white">
            Filtrar por
        </button>
        <div class="dropdown-content" style="color:black; background: black;height: 2px">
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Monumentos"})">Monumentos</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "EdificioReligioso"})">Edifício Religioso</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Cascata"})">Cascata</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Lagoa"})">Lagoa</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "PraiaFluvial"})">Praia Fluvial</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Miradouro"})">Miradouro</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "ParqueLazer"})">Parque de Lazer</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "ParqueNatural"})">Parque Natural</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Passadicos"})">Passadiços</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Grutas"})">Grutas</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Ponte"})">Ponte</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "ArteRupestre"})">Arte Rupestre</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Espigueiros"})">Espigueiros</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Trilhos"})">Trilhos</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Ecovia"})">Ecovia</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "EdificioRestauracao"})">Edificio de Restauração</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Termas"})">Termas</a>
            <a href="@Url.ActionLink("GetPointsOfInterestFromCategory", "Reviser", new {category = "Aldeias"})">Aldeias</a>
        </div>
    </div>
    
@if (Model != null && Model.Count() != 0)
{


        <dl class="row" style="position: absolute; left: 600px;top:200px">
            
            @foreach (var item in Model)
            {
                var categoryString = item.translateCategory(); 
                <dd class="col-sm-10" style="font-weight: bold; color: green; font-size: 20px; padding: 30px; float: right">
                    @Html.DisplayFor(modelItem => item.Name)
                </dd>
                <dd class="col-sm-10" style="float:left">
                    @if (!String.IsNullOrEmpty(item.ImagePath))
                    {
                        <img src="@Url.Content("~/Images/" + @item.ImagePath)" alt="Erro rendering" width="256px" height="256px"/>
                    } else
                    {
                        <img src="@Url.Content("~/Images/noImage.png")" alt="Erro rendering" width="256px" height="256px"/>
                    }
                </dd>
                <dd class="col-sm-10" style="font-weight: bold;padding:10px">
                    @Html.Raw(categoryString)
                </dd>
                <dd class="col-sm-5" style="color: black; font-weight: bold;padding-bottom:30px">
                    @Html.ActionLink("Ler mais", "GetSpecificPointOfInterest", "Reviser", new {id = item.Id, ret = "GetPointsOfInterest"}, null)
                </dd>
                
            }
        </dl>


} else
{
    <h3 style="position: absolute; left: 600px; top: 100px; font-weight: bold;font-size:25px">Sem pontos disponíveis</h3>
}