@model IEnumerable<Geres4U.Models.PointOfInterest>

@{
    ViewData["Title"] = "GetPointsOfInterest";
}

<h1>GetPointsOfInterest</h1>

@if (Model != null && Model.Count() != 0)
{

    <button class="btn">Filtrar por</button>
    <div class="dropdown">
        <button class="btn" style="border-left:1px solid navy">
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a class="dropdown-item">@Html.ActionLink("Monumentos", "", "Client", new {category = "Monumentos"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Edifício Religioso", "", "Client", new {category = "EdificioReligioso"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Cascata", "", "Client", new {category = "Cascata"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Lagoa", "", "Client", new {category = "Lagoa"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Praia Fluvial", "", "Client", new {category = "PraiaFluvial"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Miradouro", "", "Client", new {category = "Miradouro"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Parque de Lazer", "", "Client", new {category = "ParqueLazer"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Parque Natural", "", "Client", new {category = "ParqueNatural"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Passadiços", "", "Client", new {category = "Passadicos"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Grutas", "", "Client", new {category = "Grutas"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Ponte", "", "Client", new {category = "Ponte"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Arte Rupestre", "", "Client", new {category = "ArteRupestre"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Espigueiros", "", "Client", new {category = "Espigueiros"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Trilhos", "", "Client", new {category = "Trilhos"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Ecovia", "", "Client", new {category = "Ecovia"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Edificio de Restauração", "", "Client", new {category = "EdificioRestauracao"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Termas", "", "Client", new {category = "Termas"}, null)</a>
            <a class="dropdown-item">@Html.ActionLink("Aldeias", "", "Client", new {category = "Aldeias"}, null)</a>
        </div>
    </div>



    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Long)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Long)
                    </td>
                    <td>
                        @Html.ActionLink("Ler mais", "GetSpecificPointOfInterest", "Client", new { item.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Adicionar ao histórico", "AddPointVisited", "Client", new { item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h3>No points to show</h3>
}
