@model IEnumerable<Geres4U.Models.PointOfInterest>

@{
    ViewData["Title"] = "GetPointsVisited";
    Layout = "_LayoutLoggedIn";
}

<h1>GetPointsVisited</h1>


@if (ViewBag.result != null)
{
    <p>@ViewBag.result</p>
}

@if (Model != null && Model.Count() != 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImagePath)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Lat)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Long)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImagePath)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Long)
                    </td>
                    <td>
                        @Html.ActionLink("Ler mais", "GetSpecificPointOfInterest", "Client", new { id = item.Id, ret = "GetPointsVisited" }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Remover do histórico", "RemovePointVisited", "Client", new { item.Id }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else
{
    <h3>No points to show</h3>
}